site_name: OIXIO Digital Business Central Applications Documentation
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  # language: et
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: orange
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: orange
      accent: lime

plugins:
  - search
  - i18n: # https://gitlab.com/mkdocs-i18n/mkdocs-i18n/-/blob/main/mkdocs.yml
      default_language: et
      languages:
        en: English
        et: Eesti keel

extra:
  alternate:
    - name: Estonian
      link: /et/
      lang: et
    - name: English
      link: /en/
      lang: en
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/oixiodigital/

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list

copyright: |
  &copy; 2025 <a href="https://oixio.eu/digital/"  target="_blank" rel="noopener">OIXIO Digital AS</a>

nav:
  - index.md
  - index.en.md
